mixin carousel()

  #carousel
    ul
      li
        img(src='http://placekitten.com/300/300', alt='Kitten')
      li
        img(src='http://placekitten.com/300/300', alt='Kitten')
      li
        img(src='http://placekitten.com/300/300', alt='Kitten')
      li
        img(src='http://placekitten.com/300/300', alt='Kitten')
      li
        img(src='http://placekitten.com/300/300', alt='Kitten')
    .controls
      a.left(href='#') Left
      a.right(href='#') Right
      span
